{% extends 'dashboard/client/base.html' %}
{% load static %}

{% block css %}{% endblock css %}

{% block content %}

  <div class="row">

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card">
        <div class="card-body">
          <p>&nbsp;</p>

          <div class="ant-card-body">
            <h3 class="--text-color-2-s --fs-16 ng-star-inserted">
              <strong>Here is a short GUIDE to help you get the most out of our service:</strong>
            </h3>

            <div class="--text-color-2-s --fs-16 ng-star-inserted">&nbsp;</div>

            <div class="--text-color-2-s --fs-16 --mt-24 ng-star-inserted">
              <strong>Placing an order:</strong>
            </div>

            <div class="--text-color-3-s --mt-12 ng-star-inserted">When placing an order, you must provide the following:</div>

            <div class="--text-color-3 --mt-8 ng-star-inserted" translate="">Assignment Type, Service Type, Your Deadline, Writer's Deadline, Language, Number of Pages/Words, Education Level, Custom Instructions, and any files which are required to complete your order.</div>

            <div class="--text-color-3 --mt-8 ng-star-inserted" translate="">&nbsp;</div>

            <div class="--text-color-3 --mt-12 --success-color ng-star-inserted">
              <em>TIP: To get your order on-time, we HIGHLY recommend setting the writer's deadline AT LEAST 24 hours before your deadline.</em>
            </div>

            <div class="--text-color-3 --mt-12 --success-color ng-star-inserted">&nbsp;</div>

            <div class="--text-color-2-s --fs-16 --mt-32 ng-star-inserted">
              <strong>Bidding phase:</strong>
            </div>

            <div class="--text-color-3 --mt-12 ng-star-inserted">After you've filled out the required information and clicked "Place Order and Made the payment", our writers will bid on your order. We hire the best writer for your needs, we consider their: ratings, customer reviews, rating, &amp; expertise.</div>

            <div class="--text-color-3 --mt-12 ng-star-inserted">&nbsp;</div>

            <div class="--text-color-3 --mt-12 --success-color ng-star-inserted">&nbsp;</div>

            <div class="--text-color-2-s --fs-16 --mt-32 ng-star-inserted">
              <strong>Order In Progress Phase:</strong>
            </div>

            <div class="--text-color-3 --mt-12 ng-star-inserted">During this phase, you can chat with your writer to discuss your order, ask for updates, or request edits. .</div>

            <div class="--text-color-3 --mt-12 ng-star-inserted">&nbsp;</div>

            <div class="--text-color-3 --mt-12 --success-color ng-star-inserted" translate="">
              <em>TIP: We offer FREE and unlimited revisions! If necessary, you can request edits from your writer until you are 100% satisfied with the results.</em>
            </div>

            <div class="--text-color-3 --mt-12 --success-color ng-star-inserted" translate="">&nbsp;</div>

            <div class="--text-color-2-s --fs-16 --mt-32 ng-star-inserted">
              <strong>Completing the contract:</strong>
            </div>

            <div class="--text-color-3 --mt-12 ng-star-inserted">After our writer sends you the final version of the order, please double-check and proofread it. When you are 100% satisfied, click the "Approve button" and rate the writer.</div>

            <div class="--text-color-3 --mt-12 ng-star-inserted">&nbsp;</div>

            <div class="--text-color-2-s --fs-16 --mt-32 ng-star-inserted">
              <strong>Support:</strong>
            </div>

            <div class="--text-color-3 --mt-12 ng-star-inserted">Customer support is available 24/7 to answer any of your questions and help with your order!</div>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock content %}
