{% load static %}



<div class="footer">
    <div class="layout-wrapper">
        <div class="footer-row">
            <div class="footer-column footer-column-1">
                <a href="{% url 'home' %}" class="footer-logo"><img src="{% static 'images/main/footer-logo.svg' %}" alt="logo"></a>
            </div>
            <div class="footer-column nav-column">
                <h3>Navigation</h3>
                <a href="testimonials/index.htm">Testimonials</a>
                <a href="prices/index.htm">Pricing</a>
                <a href="faq/index.htm">FAQ</a>
                <a href="about/index.htm">About Us</a>
            </div>
            <div class="footer-column h3-disabled">
                <a href="privacy-policy/index.htm">Privacy Policy</a>
                <a href="revision-policy/index.htm">Revision Policy</a>
                <a href="money-back/index.htm">Money Back Guarantee</a>
                <a href="plagiarism-free/index.htm">Plagiarism Free Guarantee</a>
                <a href="terms-conditions/index.htm">Terms and Conditions of Use</a>
                <a href="cookie-policy/index.htm">Cookie Policy</a>
                <a href="eula-terms-and-conditions/index.htm">EULA</a>
            </div>
            <div class="footer-column">
                <div class="footer-column__cat">
                    <h3>Contact us</h3>
                    <a href="tel:+18889867161">1-888-986-71-61</a>
                    <a href=""><span class="__cf_email__" data-cfemail="">contact@awasam.com</span></a>
                </div>
                <div class="footer-column__cat">
                    <h3>We accept</h3>
                    <div class="footer-card">
                        <a><img src="{% static 'images/main/card-1.svg' %}" alt="card"></a>
                        <a><img src="{% static 'images/main/card-2.svg' %}" alt="card"></a>
                        <a><img src="{% static 'images/main/card-3.svg' %}" alt="card"></a>
                        <a><img src="{% static 'images/main/card-4.svg' %}" alt="card"></a>
                    </div>
                </div>
            </div>
        </div>
        <p class="css-info" data-info="Awasam.com is owned and operated by DDW Corp Limited, Kastellorizou, 3A, Aglantzia, Nicosia, 2108, Cyprus"></p>
        <div class="footer-bottom">
            <p>2024 © Awasam.com All rights reserved</p>
        </div>
    </div>
</div>