{% extends "base.html" %}

{% load static %}
{% block content %}

<div class="faq section">
    <div class="layout-wrapper">
        <div class="faq-row">
            <h2 class="title-el text-left mb-24">Frequently asked questions</h2>
            <div class="accordion">
                <div class="accordion-row">
                    <div class="accordion-head">
                        <p>Why should I choose you to complete my paper?</p>
                        <div class="accordion-plus">
                            <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5955 0.142663C11.7859 0.333044 11.7859 0.641712 11.5955 0.832092L6.3455 6.08209C6.15512 6.27247 5.84645 6.27247 5.65607 6.08209L0.406067 0.832092C0.215687 0.641712 0.215687 0.333044 0.406067 0.142663C0.596447 -0.0477172 0.905115 -0.0477172 1.0955 0.142663L6.00078 5.04795L10.9061 0.142663C11.0964 -0.0477172 11.4051 -0.0477172 11.5955 0.142663Z" fill="#474F5A"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="accordion-content">
                        <p>Our goal is to go beyond our customers' expectations and make every single student completely satisfied with the results. We write papers strictly according to the requirements you give, so you always get what you ordered. Whether it is writing from scratch or proofreading, we can help you!</p>
                    </div>
                </div>
                <div class="accordion-row">
                    <div class="accordion-head">
                        <p>Is your service confidential?</p>
                        <div class="accordion-plus">
                            <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5955 0.142663C11.7859 0.333044 11.7859 0.641712 11.5955 0.832092L6.3455 6.08209C6.15512 6.27247 5.84645 6.27247 5.65607 6.08209L0.406067 0.832092C0.215687 0.641712 0.215687 0.333044 0.406067 0.142663C0.596447 -0.0477172 0.905115 -0.0477172 1.0955 0.142663L6.00078 5.04795L10.9061 0.142663C11.0964 -0.0477172 11.4051 -0.0477172 11.5955 0.142663Z" fill="#474F5A"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="accordion-content">
                        <p>Absolutely. We guarantee non-disclosure of all personal information you provide to us. Your privacy will never be compromised, so you can be sure that your information will never be shared with anyone. To learn more, please read our <a href="../privacy-policy/index.htm">Privacy Policy</a>.</p>
                    </div>
                </div>
                <div class="accordion-row">
                    <div class="accordion-head">
                        <p>Who will be working on my paper?</p>
                        <div class="accordion-plus">
                            <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5955 0.142663C11.7859 0.333044 11.7859 0.641712 11.5955 0.832092L6.3455 6.08209C6.15512 6.27247 5.84645 6.27247 5.65607 6.08209L0.406067 0.832092C0.215687 0.641712 0.215687 0.333044 0.406067 0.142663C0.596447 -0.0477172 0.905115 -0.0477172 1.0955 0.142663L6.00078 5.04795L10.9061 0.142663C11.0964 -0.0477172 11.4051 -0.0477172 11.5955 0.142663Z" fill="#474F5A"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="accordion-content">
                        <p>Your paper will be completed by a person with a Bachelor, Master or Ph.D. degree who has successfully passed our test with a score of at least 90%. This person will be aware of all of your requirements. Every month, we receive hundreds of applications from potential writers, but we only hire a select few.</p>
                    </div>
                </div>
                <div class="accordion-row">
                    <div class="accordion-head">
                        <p>I need my paper in the latest edition of APA. Can you do that?</p>
                        <div class="accordion-plus">
                            <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5955 0.142663C11.7859 0.333044 11.7859 0.641712 11.5955 0.832092L6.3455 6.08209C6.15512 6.27247 5.84645 6.27247 5.65607 6.08209L0.406067 0.832092C0.215687 0.641712 0.215687 0.333044 0.406067 0.142663C0.596447 -0.0477172 0.905115 -0.0477172 1.0955 0.142663L6.00078 5.04795L10.9061 0.142663C11.0964 -0.0477172 11.4051 -0.0477172 11.5955 0.142663Z" fill="#474F5A"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="accordion-content">
                        <p>Easy! Your paper will be formatted in accordance with your requirements. We can do MLA, APA, Chicago/Turabian, Harvard, or any other format. There is no extra charge for following a particular style guide.</p>
                    </div>
                </div>
                <div class="accordion-row">
                    <div class="accordion-head">
                        <p>How much time do you need to write my paper?</p>
                        <div class="accordion-plus">
                            <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5955 0.142663C11.7859 0.333044 11.7859 0.641712 11.5955 0.832092L6.3455 6.08209C6.15512 6.27247 5.84645 6.27247 5.65607 6.08209L0.406067 0.832092C0.215687 0.641712 0.215687 0.333044 0.406067 0.142663C0.596447 -0.0477172 0.905115 -0.0477172 1.0955 0.142663L6.00078 5.04795L10.9061 0.142663C11.0964 -0.0477172 11.4051 -0.0477172 11.5955 0.142663Z" fill="#474F5A"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="accordion-content">
                        <p>It make take up to 14 days for the paper to be written. It depends on the order complexity and size, as well as on the due date you set while placing an order. Some of the tasks can be completed even within 3 and 8 hours! We always strive to deliver your paper before the actual deadline.</p>
                    </div>
                </div>
                <div class="accordion-row">
                    <div class="accordion-head">
                        <p>How do I receive my paper?</p>
                        <div class="accordion-plus">
                            <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5955 0.142663C11.7859 0.333044 11.7859 0.641712 11.5955 0.832092L6.3455 6.08209C6.15512 6.27247 5.84645 6.27247 5.65607 6.08209L0.406067 0.832092C0.215687 0.641712 0.215687 0.333044 0.406067 0.142663C0.596447 -0.0477172 0.905115 -0.0477172 1.0955 0.142663L6.00078 5.04795L10.9061 0.142663C11.0964 -0.0477172 11.4051 -0.0477172 11.5955 0.142663Z" fill="#474F5A"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="accordion-content">
                        <p>Once your paper is completed, you will be able to find it in your personal account on our website. We will also send you an email notification that your paper is ready for download. We always keep our customers updated on the progress of their orders.</p>
                    </div>
                </div>
                <div class="accordion-row">
                    <div class="accordion-head">
                        <p>Is my paper plagiarism-free?</p>
                        <div class="accordion-plus">
                            <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5955 0.142663C11.7859 0.333044 11.7859 0.641712 11.5955 0.832092L6.3455 6.08209C6.15512 6.27247 5.84645 6.27247 5.65607 6.08209L0.406067 0.832092C0.215687 0.641712 0.215687 0.333044 0.406067 0.142663C0.596447 -0.0477172 0.905115 -0.0477172 1.0955 0.142663L6.00078 5.04795L10.9061 0.142663C11.0964 -0.0477172 11.4051 -0.0477172 11.5955 0.142663Z" fill="#474F5A"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="accordion-content">
                        <p>Unlike other writing agencies on the web who use cheap and ineffective plagiarism software, we use powerful and fully reliable plagiarism checkers. Our writers do not reuse any content from the web and always write every paper from scratch. All the information is properly cited in order to avoid cases of unintentional or indirect plagiarism.</p>
                    </div>
                </div>

                <div class="accordion-row">
                    <div class="accordion-head">
                        <p>What if I'm not satisfied with my paper?</p>
                        <div class="accordion-plus">
                            <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5955 0.142663C11.7859 0.333044 11.7859 0.641712 11.5955 0.832092L6.3455 6.08209C6.15512 6.27247 5.84645 6.27247 5.65607 6.08209L0.406067 0.832092C0.215687 0.641712 0.215687 0.333044 0.406067 0.142663C0.596447 -0.0477172 0.905115 -0.0477172 1.0955 0.142663L6.00078 5.04795L10.9061 0.142663C11.0964 -0.0477172 11.4051 -0.0477172 11.5955 0.142663Z" fill="#474F5A"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="accordion-content">
                        <p>In case you are not satisfied with the end work, we provide free unlimited revisions for ten days after receiving your paper. If for some reason revisions do not help, you can always change the writer by contacting our support team. We value our customers' satisfaction, so we're not done with your paper until you're completely satisfied with it.</p>
                    </div>
                </div>
                <div class="accordion-row">
                    <div class="accordion-head">
                        <p>How can I get in touch with my writer?</p>
                        <div class="accordion-plus">
                            <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5955 0.142663C11.7859 0.333044 11.7859 0.641712 11.5955 0.832092L6.3455 6.08209C6.15512 6.27247 5.84645 6.27247 5.65607 6.08209L0.406067 0.832092C0.215687 0.641712 0.215687 0.333044 0.406067 0.142663C0.596447 -0.0477172 0.905115 -0.0477172 1.0955 0.142663L6.00078 5.04795L10.9061 0.142663C11.0964 -0.0477172 11.4051 -0.0477172 11.5955 0.142663Z" fill="#474F5A"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="accordion-content">
                        <p>You can communicate with your writer by using the chat feature in your personal account. Our support manager is also available to keep you informed about the progress of your order and help you with any issues.</p>
                    </div>
                </div>
                <div class="accordion-row">
                    <div class="accordion-head">
                        <p>Do you provide a money back guarantee?</p>
                        <div class="accordion-plus">
                            <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5955 0.142663C11.7859 0.333044 11.7859 0.641712 11.5955 0.832092L6.3455 6.08209C6.15512 6.27247 5.84645 6.27247 5.65607 6.08209L0.406067 0.832092C0.215687 0.641712 0.215687 0.333044 0.406067 0.142663C0.596447 -0.0477172 0.905115 -0.0477172 1.0955 0.142663L6.00078 5.04795L10.9061 0.142663C11.0964 -0.0477172 11.4051 -0.0477172 11.5955 0.142663Z" fill="#474F5A"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="accordion-content">
                        <p>Yes, you can always request a refund if you're not satisfied with your paper. We provide both partial and full refunds, and we will promptly refund your money if you feel like you didn't get what you ordered. For more information, please read our <a href="/money-back-guarantee/">Money Back Guarantee.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "components/banner.html" %}
{% endblock content %}