{% load static %}
<style>
  @media (max-width: 568px) {
    a.logo-horizontal img.header-brand-img {
      width: 200px;
      height: 80px;
    }
  }

  @media (max-width: 300px) {
    a.logo-horizontal {
      display: none !important;
    }
  }
</style>

<!-- app-Header -->
<div class="app-header header sticky">
  <div class="container-fluid main-container">
    <div class="d-flex">
      <a aria-label="Hide Sidebar" class="app-sidebar__toggle d-flex align-items-center justify-content-center" data-bs-toggle="sidebar" href="javascript:void(0)">
        <i class="fa-light fa-bars-sort"></i>
      </a>

      <!-- sidebar-toggle-->
      <a class="logo-horizontal" href="{% url 'home' %}">
        <img src="{% static 'dashboard/logo/logo.png' %}" width="50" class="header-brand-img desktop-logo" alt="logo">
        <img src="{% static 'dashboard/logo/logo.png' %}" width="50" class="header-brand-img light-logo1" alt="logo">
      </a>
      <!-- LOGO -->
      <div class="main-header-center ms-3 d-none d-lg-block">
        <form action="https://demo2.academicwritingscript.com/dashboard/order" method="GET">
          <input type="text" class="form-control" name="search" id="typehead" placeholder="Search for order via id or title" autocomplete="off">
          <button class="btn px-0 pt-2">
            <i class="fa-light fa-magnifying-glass" aria-hidden="true"></i>
          </button>
        </form>
      </div>

      <div class="d-flex order-lg-2 ms-auto header-right-icons">
        <!-- SEARCH -->
        <button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fe fe-more-vertical"></span>
        </button>
        <div class="navbar navbar-collapse responsive-navbar p-0">
          <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <div class="d-flex order-lg-2">
              <div class="dropdown d-lg-none d-flex">
                <a href="javascript:void(0)" class="nav-link icon" data-bs-toggle="dropdown">
                  <i class="fe fe-search"></i>
                </a>
                <div class="dropdown-menu header-search dropdown-menu-start">
                  <div class="input-group w-100 p-2">
                    <input type="text" class="form-control" placeholder="Search....">
                    <div class="input-group-text btn btn-primary">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>

              <!-- COUNTRY -->
              <div class="dropdown d-flex">
                <a href="" class="nav-link icon full-screen-link nav-link-bg">
                  <h5 class="text-dark mb-0 fs-14 fw-semibold">
                    Wallet Balance: USD 0
                  </h5>
                </a>
              </div>
              <!-- SIDE-MENU -->
              <div class="dropdown d-flex profile-1">
                <a href="javascript:void(0)" data-bs-toggle="dropdown" class="nav-link leading-none d-flex">
                  <img src="{% if profile.avatar %}{{profile.avatar.url}}{% else %}{% static 'dashboard/avatar/avatar.jpg' %}{% endif %}?s=150&amp;d=mm&amp;r=g" alt="P" class="avatar  profile-user brround cover-image">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <div class="drop-heading">
                    <div class="text-center">
                      <h5 class="text-dark mb-0 fs-14 fw-semibold">{{profile.full_name|default:"No name set"}}</h5>
                      <h5 class="text-dark mb-0 fs-14 fw-semibold">Merchant ID: {{profile.pk}}</h5>
                    </div>
                  </div>
                  <div class="dropdown-divider m-0"></div>
                  <a href="{% url 'dashboard:writers:account' %}" class="dropdown-item">
                    <i class="dropdown-icon fa fa-user"></i>Profile</a>
                  <div class="dropdown-divider m-0"></div>
                  <a href="{% url 'users:logout' %}" class="dropdown-item">
                    <i class="dropdown-icon fa-regular fa-arrow-right-from-bracket"></i>Logout
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /app-Header -->