{% load static %}

<div class="sidebar sidebar-right sidebar-animate">
    <div class="panel panel-primary card mb-0 shadow-none border-0">
        <div class="tab-menu-heading border-0 d-flex p-3">
            <div class="card-title mb-0">
                <i class="fe fe-bell me-2"></i>
                <span class=" pulse"></span>
                Notifications
            </div>
            <div class="card-options ms-auto">
                <a href="javascript:void(0);" class="sidebar-icon text-end float-end me-3 mb-1" data-bs-toggle="sidebar-right" data-target=".sidebar-right">
                    <i class="fe fe-x text-white"></i>
                </a>
            </div>
        </div>
        <div class="panel-body tabs-menu-body latest-tasks p-0 border-0">
            <div class="tabs-menu border-bottom">
                <!-- Tabs -->
                <ul class="nav panel-tabs">

                    <li>
                        <a href="#side2" class="active" data-bs-toggle="tab">
                            <i class="fe fe-message-circle"></i>
                            Chat
                        </a>
                    </li>
                    <li>
                        <a href="#side3" data-bs-toggle="tab">
                            <i class="fe fe-anchor me-1"></i>
                            Orders Timeline
                        </a>
                    </li>

                </ul>
            </div>
            <div class="tab-content">

                <div class="tab-pane active" id="side2">
                    <div class="list-group list-group-flush">
                        <!-- FULL-SCREEN -->
                        <!-- FULL-SCREEN -->
                        <div>
                            <div class="pt-3 fw-semibold ps-5">
                                <a href="dashboard/messages-1.html"> 0 Recent messages</a>
                            </div>
                            <div class="p-4 bg-light border">
                                <div class="toast-container"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="side3">
                    <ul class="task-list timeline-task">
                        <li class="d-sm-flex mt-4">
                            <div>
                                <i class="task-icon1"></i>
                                <h6 class="fw-semibold">Order No. 22
                                    <span class="badge bg-warning-transparent rounded-pill text-warning p-2 px-3">Pending</span>
                                </h6>
                                <a href="https:///dashboard/view-order/22">
                                    <h6 class="fw-semibold">effect of obesity</h6>
                                </a>
                                <p class="text-muted fs-12">
                                    <span class="text-muted fs-11 mx-2 fw-normal">posted 3 months ago</span>
                                </p>
                            </div>
                        </li>
                        <li class="d-sm-flex mt-4">
                            <div>
                                <i class="task-icon1"></i>
                                <h6 class="fw-semibold">Order No. 21
                                    <span class="badge bg-warning-transparent rounded-pill text-warning p-2 px-3">Pending</span>
                                </h6>
                                <a href="https:///dashboard/view-order/21">
                                    <h6 class="fw-semibold">effect of obesity</h6>
                                </a>
                                <p class="text-muted fs-12">
                                    <span class="text-muted fs-11 mx-2 fw-normal">posted 3 months ago</span>
                                </p>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>