{% extends "account/layout.html" %}

{% block meta %}{% endblock meta %}

{% block pageTitle %}Sign Up{% endblock pageTitle %}

{% block status %}{% endblock status %}

{% block content %}
  <form class="pb-2" method="post" action="{% url 'users:signup' %}" id="signup-form">
    {% csrf_token %}
    <div class="input-group mb-30">
      <span class="input-group-text">
        <i class="fa-regular fa-user"></i>
      </span>
      {{form.email}}
    </div>
    <div class="input-group mb-20">
      <span class="input-group-text">
        <i class="fa-light fa-compass-drafting"></i>
      </span>
      {{form.account_type}}
    </div>
    <div class="input-group mb-20">
      <span class="input-group-text">
        <i class="fa-regular fa-lock"></i>
      </span>
      {{form.password}}
      <span class="password-show">
        <i class="fa-duotone fa-eye"></i>
      </span>
    </div>
    <button class="btn btn-primary w-100 login-btn" type="submit">Sign up</button>
  </form>
  <!-- -->
  <div class="pt-2">
    Already have an account?
    <a href="{% url 'users:login' %}" class="">Login!</a>
  </div>
{% endblock content %}

{% block socials %}{% endblock socials %}
