{% extends 'dashboard/writer/base.html' %}
{% load static %}

{% block content %}


<div class="row row-cards">
    <div class="col-lg-8 col-xl-8">

        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    <span class="badge bg-secondary fs-14 me-2">
                        {% if order.is_paid %}
                        Paid
                        {% else %}
                        Payment pending
                        {% endif %}
                    </span>
                    <strong>Order ID:{{order.pk}}</strong>
                </h4>
            </div>
            <div class="card-body">
                {% if messages %}
                <div class="col-12">
                    {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{message.tags}} {% endif %}">
                        {{message}}
                    </div>
                    {% endfor %}
                </div>
                <hr style="border-top: 1px solid #000000;">
                {% endif %}
                <span class="badge bg-primary-transparent rounded-pill text-primary p-2 px-3">Use
                    {{order.language}}</span>
                <span class="badge bg-success-transparent rounded-pill text-success p-2 px-3">
                    Course order
                </span>
                <hr style="border-top: 1px solid #000000;">
                <div class=" row mb-4">
                    <label class="col-md-3 form-label">Order cost</label>
                    <div class="col-md-8">
                        USD
                        {{order.course_budget}}
                    </div>
                </div>
                <hr style="border-top: 1px solid #000000;">
                <div class=" row mb-4">
                    <label class="col-md-3 form-label">Topic/Title</label>
                    <div class="col-md-9"><p>{{order.title}}</p></div>
                </div>
                <hr style="border-top: 1px dotted #000000;">
                <div class=" row mb-4">
                    <label class="col-md-3 form-label">Academic Level:</label>
                    <div class="col-md-9"><p>{{order.academic_level_text|title}}<br></p>
                    </div>
                </div>
                <hr style="border-top: 1px dotted #000000;">
                <div class=" row mb-4">
                    <label class="col-md-3 form-label">Subject:</label>
                    <div class="col-md-9"><p>{{order.get_subject_display}}</p></div>
                </div>
                <hr style="border-top: 1px dotted #000000;">
                <div class="row mb-4">
                    <label class="col-md-3 form-label">Number of weeks/Assignments:</label>
                    <div class="col-md-9">{{order.number_of_weeks_or_assignments}}</div>
                </div>
                <hr style="border-top: 1px dotted #000000;">
                <div class=" row mb-12">
                    <label class="col-md-3 form-label">Order was posted:</label>
                    <div class="col-md-9">{{order.order_date|timesince}} ago</div>
                </div>
                <hr style="border-top: 1px dotted #000000;">
                <div class=" row mb-4">
                    <hr style="border: 2px;">
                    <label class="col-md-3 form-label"><strong>Instructions</strong></label>
                    <div class="col-md-12">
                        <main><div>{{order.description|safe}}</div></main>
                    </div>
                </div>
                <hr style="border-top: 1px solid #000000;">
            </div>
        </div>
        <div class="card">
            <div class="card-header border-bottom-0"></div>
            <div class="e-table px-5 pb-5">
                <div class="table-responsive table-lg">
                    <table class="table border-top table-bordered mb-0">
                        <tbody>
                            <tr>
                                <h3>Login Credentials</h3>
                            </tr>
                            <tr>
                                <td>{{order_file.name}}</td>
                                <td>
                                    <span style="color: green; font-size: 11px;">
                                        Course Login url
                                        <br>
                                        <a href="//{{order.course_url}}" target="_blank">{{order.course_url}}</a>
                                    </span>
                                </td>

                                <td>
                                    Student Username: <strong style="font-weight: 600;">{{order.student_username}}</strong>
                                    <br>
                                    Student Password: <strong style="font-weight: 600;">{{order.student_course_login_password}}</strong>
                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-4 col-xl-4"></div>
</div>
{% endblock content %}